body{
    font-family: 'Roboto Slab', serif;
}
.Hlight{
    color: orange;
}
.first-part {
    display: flex;
}


.sec-part{
    display: flex;
   background-image: url("Frame 58.jpg");
   background-size: 100%;
   background-repeat: no-repeat;
}
.conten{
    margin-left: 35px;
    padding-right: 35px;
}
h1{
    font-size: 50px;
    margin-top: 80px;
    padding-top: 40px;
    font-style: italic;
}
p{
    font-size: 15px;
    color: rgb(136, 126, 126);
}

.btn{
        position: absolute;
        font-size: 29px;
        padding: 7px;
        background-color:#e3690be4;
        color: #fff;
        border:none;
        border-radius:10px;
}

.img img{
    height: 560px;
    margin-right: 25px;
}
.img{
    margin-right: 30px;
    margin-top: 20px;
}

.about{
    text-align: center;
}

.img2{
    height: 500px;
    margin-left: 100px;
    padding-left: 100px;
}

.sec p {
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

.btn2{
    position: absolute;
    font-size: 29px;
    padding: 7px;
    background-color:#ea8bb1e4;
    color: #fff;
    border:none;
    border-radius:10px;
    margin-left: 300px;
    margin-top: 10px;
    ;
}

.rec{
    text-align: center;
    margin-top: 20px;
    font-style: inherit;
}

.product1 img{
    height: 250px;
    width: 400px;
    radius: 14px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 20px;
}
.product1 {
    height: 480px;
    width: 450px;
    
    box-shadow: rgba(0, 0, 0, 0.35) 5px 6px 19px;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    
    
    
}

.item{
    display: flex;
    margin-left: 100px;
}

.midea{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 6px 19px;
    height: 200px;
    margin-top: 40px;
    margin-left: 40px;
    width: 90%;
    border-radius: 15px;

}

.like{
    margin-left: 200px;
    margin-top: 0px;
    font-weight: bold;
    
}

.end{
    background-color: black;
    color: rgb(239, 170, 170);
    text-align: center;
    height: 150px;
    padding-top: 10px;
    margin-top: 17px;
}